.flex {
    display: flex;
}

.center,
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}

.invert {
    filter: invert(1);
}