@import "./partials/color-theme";
@import "./partials/global-class";
@import "./partials/animation";
@import "./partials/header";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

body {
    background-color: var(--bg-base);
    font-family: 'Pilcrow Rounded', sans-serif;
}

.lazyload {
    animation: lazyload 1s infinite;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: transparent;
}
