main.reservations {
    width: 100%;
    height: 90vh;
    padding: 2%;

    @media (max-width: 768px) {
        flex-direction: column;
        height: max-content;
    }

    .title {
        color: var(--color-white);
        margin-bottom: 2%;
        gap: 8px;

        @media (max-width: 768px) {
            font-size: 22px;

            svg {
                width: 22px;
            }
        }
    }

    .content-info {
        width: 50%;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 100%;
        }

        .informations {
            height: 20%;
            color: var(--color-white);

            p {
                color: var(--text-base);
                font-size: 24px;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }

            h1 {
                font-size: 48px;
                text-transform: uppercase;

                @media (max-width: 768px) {
                    font-size: 28px;
                }

                b {
                    color: var(--text-mark);
                }
            }
        }

        .calendar {
            height: 30%;

            .date {
                display: flex;
                justify-content: space-between;
                width: 90%;

                @media (max-width: 768px) {
                    width: 100%;
                }

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 120px;
                    height: 100px;
                    border-top: 20px solid red;
                    border-radius: 13px;
                    background: var(--color-white);
                    cursor: pointer;
                    transition: all 0.5s;
                    font-weight: 700;

                    @media (max-width: 768px) {
                        width: 50px;
                        height: 70px;
                        font-size: 14px;
                        border-top: 10px solid red;
                    }

                    &.active {
                        transform: scale(1.1);
                        border-color: var(--warning);
                    }
                }
            }
        }

        .people-amount {
            height: 25%;

            .options {
                display: flex;
                gap: 2%;

                li {
                    display: flex;
                    align-items: center;
                    background: var(--bg-secondary);
                    border-radius: 13px;
                    padding: 6px 10px;
                    gap: 8px;
                    width: 210px;
                    border: 1px solid transparent;
                    cursor: pointer;
                    transition: all 0.5s;

                    @media (max-width: 768px) {

                    }

                    &.active {
                        border: 1px solid var(--text-mark);

                        svg {
                            animation: jump 0.3s;
                        }
                    }

                    p {
                        color: var(--color-white);

                        @media (max-width: 768px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .time {
            height: 20%;

            .options {
                display: flex;
                align-items: center;
                gap: 2%;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    background: var(--color-white);
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    border-radius: 13px;

                    @media (max-width: 768px) {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    
                    &.active {
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: var(--warning);
                            border-radius: 0 0 13px 13px;
                            width: 100%;
                            height: 10px;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }

        .next {
            height: 5%;

            @media (max-width: 768px) {
                display: none;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 100%;
                background: var(--color-white);
                border-radius: 13px;
                color: var(--color-black);
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    background: var(--success);
                }
        
            }
        }
    }

    .content-tables {
        width: 50%;
        border-left: 1px solid var(--border-secondary);
        padding-left: 2%;

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 20px;
            border: none;
        }

        .show-room {
            width: 100%;
            height: 6%;
            background: rgba(255, 255, 255, 0.12);
            box-shadow: 0 0 6px rgba(255, 255, 255, 0.12);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(4px);
            border: 1px solid rgba(255, 255, 255, 0.06);

            @media (max-width: 768px) {
                height: 40px;
                margin-top: 20px;
            }

            .title {
                margin: 0;

                @media (max-width: 768px) {
                    font-size: 16px;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            .next {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 32px;
                margin-top: 20px;
    
                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    height: 100%;
                    background: var(--color-white);
                    border-radius: 13px;
                    color: var(--color-black);
                    text-transform: uppercase;
                    font-weight: 700;
                    cursor: pointer;
                    transition: all 0.5s;
    
                    &:hover {
                        background: var(--success);
                    }
                }
            }
        }
    }
}