:root {
  --bg-base: rgb(21, 21, 22);
  --bg-base-opacity-sm: rgba(21, 21, 21, 0.1);
  --bg-base-opacity-md: rgba(21, 21, 21, 0.4);
  --bg-base-opacity-lg: rgba(21, 21, 21, 0.8);
  --bg-secondary: rgb(17, 17, 18);
  --bg-input: rgb(34, 34, 39);
  --fill-icon: rgb(253, 253, 253);
  --fill-black: rgb(0, 0, 0);
  --text-base: rgb(201, 200, 203);
  --text-secondary: rgb(103, 103, 105);
  --text-mark: rgb(208, 194, 47);
  --border-base: rgb(255, 255, 255);
  --border-base-opacity-sm: rgba(255, 255, 255, 0.1);
  --border-base-opacity-md: rgba(255, 255, 255, 0.4);
  --border-base-opacity-lg: rgba(255, 255, 255, 0.8);
  --border-secondary: rgb(0, 0, 0);
  --border-secondary-opacity-sm: rgba(0, 0, 0, 0.1);
  --border-secondary-opacity-md: rgba(0, 0, 0, 0.4);
  --border-secondary-opacity-lg: rgba(0, 0, 0, 0.8);
  --border-input: rgb(34, 34, 39);
  --nav-base: rgb(26, 25, 29);
  --nav-active: rgb(34, 35, 39);
  --nav-icon: rgb(203, 203, 205);
  --shadow-sm: rgba(0, 0, 0, 0.1);
  --shadow-md: rgba(0, 0, 0, 0.4);
  --shadow-lg: rgba(0, 0, 0, 0.8);
  --button-base: rgb(31, 30, 34);
  --success: rgb(77, 170, 39);
  --error: rgb(167, 16, 16);
  --warning: rgb(208, 194, 47);
  --disabled: rgb(91, 91, 90);
  --color-red: rgb(174, 17, 19);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
}

.flex {
  display: flex;
}

.center,
.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.column {
  flex-direction: column;
}

.hidden {
  display: none;
}

.invert {
  filter: invert(1);
}

@keyframes opening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes reative {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes lazyload {
  0% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
  }
  50% {
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
  }
}
@keyframes arrowPop {
  0% {
    top: 100%;
  }
  50% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}
.opening {
  animation: opening 1s ease-in-out;
}

.slideIn {
  animation: slideIn 0.5s ease-in-out;
}

header {
  background: var(--bg-secondary);
  width: 100%;
  height: 8vh;
  padding: 0 2%;
}
@media (max-width: 768px) {
  header {
    padding: 4px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

body {
  background-color: var(--bg-base);
  font-family: "Pilcrow Rounded", sans-serif;
}

.lazyload {
  animation: lazyload 1s infinite;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: transparent;
}

/*# sourceMappingURL=base.css.map */
