main.reservations {
  width: 100%;
  height: 90vh;
  padding: 2%;
}
@media (max-width: 768px) {
  main.reservations {
    flex-direction: column;
    height: max-content;
  }
}
main.reservations .title {
  color: var(--color-white);
  margin-bottom: 2%;
  gap: 8px;
}
@media (max-width: 768px) {
  main.reservations .title {
    font-size: 22px;
  }
  main.reservations .title svg {
    width: 22px;
  }
}
main.reservations .content-info {
  width: 50%;
}
@media (max-width: 768px) {
  main.reservations .content-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
}
main.reservations .content-info .informations {
  height: 20%;
  color: var(--color-white);
}
main.reservations .content-info .informations p {
  color: var(--text-base);
  font-size: 24px;
}
@media (max-width: 768px) {
  main.reservations .content-info .informations p {
    font-size: 16px;
  }
}
main.reservations .content-info .informations h1 {
  font-size: 36px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  main.reservations .content-info .informations h1 {
    font-size: 28px;
  }
}
main.reservations .content-info .informations h1 b {
  color: var(--text-mark);
}
main.reservations .content-info .calendar {
  height: 30%;
}
main.reservations .content-info .calendar .date {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
@media (max-width: 768px) {
  main.reservations .content-info .calendar .date {
    width: 100%;
  }
}
main.reservations .content-info .calendar .date li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
  height: 100px;
  border-top: 20px solid red;
  border-radius: 13px;
  background: var(--color-white);
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 700;
}
@media (max-width: 768px) {
  main.reservations .content-info .calendar .date li {
    width: 50px;
    height: 70px;
    font-size: 14px;
    border-top: 10px solid red;
  }
}
main.reservations .content-info .calendar .date li.active {
  transform: scale(1.1);
  border-color: var(--warning);
}
main.reservations .content-info .people-amount {
  height: 25%;
}
main.reservations .content-info .people-amount .options {
  display: flex;
  gap: 2%;
}
main.reservations .content-info .people-amount .options li {
  display: flex;
  align-items: center;
  background: var(--bg-secondary);
  border-radius: 13px;
  padding: 6px 10px;
  gap: 8px;
  width: 31%;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}
main.reservations .content-info .people-amount .options li.active {
  border: 1px solid var(--text-mark);
}
main.reservations .content-info .people-amount .options li.active svg {
  animation: jump 0.3s;
}
main.reservations .content-info .people-amount .options li p {
  color: var(--color-white);
}
@media (max-width: 768px) {
  main.reservations .content-info .people-amount .options li p {
    font-size: 12px;
  }
}
main.reservations .content-info .time {
  height: 20%;
}
main.reservations .content-info .time .options {
  display: flex;
  align-items: center;
  gap: 2%;
}
main.reservations .content-info .time .options li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--color-white);
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 13px;
}
@media (max-width: 768px) {
  main.reservations .content-info .time .options li {
    font-size: 14px;
    font-weight: bold;
  }
}
main.reservations .content-info .time .options li.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--warning);
  border-radius: 0 0 13px 13px;
  width: 100%;
  height: 10px;
  transition: all 0.3s;
}
main.reservations .content-info .next {
  height: 5%;
}
@media (max-width: 768px) {
  main.reservations .content-info .next {
    display: none;
  }
}
main.reservations .content-info .next .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  background: var(--color-white);
  border-radius: 13px;
  color: var(--color-black);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}
main.reservations .content-info .next .btn:hover {
  background: var(--success);
}
main.reservations .content-tables {
  width: 50%;
  border-left: 1px solid var(--border-secondary);
  padding-left: 2%;
}
@media (max-width: 768px) {
  main.reservations .content-tables {
    width: 100%;
    margin-top: 20px;
    border: none;
  }
}
main.reservations .content-tables .show-room {
  width: 100%;
  height: 6%;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}
@media (max-width: 768px) {
  main.reservations .content-tables .show-room {
    height: 40px;
    margin-top: 20px;
  }
}
main.reservations .content-tables .show-room .title {
  margin: 0;
}
@media (max-width: 768px) {
  main.reservations .content-tables .show-room .title {
    font-size: 16px;
  }
  main.reservations .content-tables .show-room .title svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 768px) {
  main.reservations .content-tables .next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin-top: 20px;
  }
  main.reservations .content-tables .next .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background: var(--color-white);
    border-radius: 13px;
    color: var(--color-black);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
  }
  main.reservations .content-tables .next .btn:hover {
    background: var(--success);
  }
}

/*# sourceMappingURL=reservations.css.map */
